@import url('http://fonts.cdnfonts.com/css/circular-std');

body {
  margin: 0;
  font-family: 'Circular Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div{
  display:block;
}